#main {
  padding: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#info {
  margin-bottom: 4rem;

  h1,
  h2 {
    font-weight: 400;
  }

  h2:nth-child(2) {
    text-align: center;
    font-weight: 600;
  }

  h1 {
    font-size: 6rem;
  }

  span {
    color: #ffd700;
  }

  h2 {
    padding: 0 1rem;
  }

  h2:nth-child(3) {
    margin: 2.5rem 1rem 0;
  }

  ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 10rem;
    padding: 1rem 0 2rem 3.5rem;

    li {
      color: #fffacd;
      font-size: 1.2rem;
      font-weight: 600;
      width: 14rem;
    }
  }
}

#about-me {
  max-width: 40rem;
  text-align: center;

  img {
    width: 50%;
    border-radius: 70%;
  }

  h2,
  h3 {
    padding-top: 1rem;
    font-weight: 400;
    font-size: 1.5rem;
  }

  h3 {
    max-width: 30rem;
    margin: 0 auto;
  }

  .icons {
    text-align: center;
    margin-top: 2rem;
  }

  a {
    padding-right: 2rem;

    &:hover {
      color: #ffd700;
      transition: all 0.5s ease-out;
    }
  }
}
