#main {
  padding: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#info {
  margin-bottom: 4rem;

  h1,
  h2 {
    font-weight: 400;
  }

  .primary-heading {
    font-size: 5rem;
  }

  .secondary-heading {
    text-align: center;
    font-weight: 600;
  }

  .skills-heading {
    padding: 2.5rem 2rem 0;
  }

  span {
    color: #ffd700;
  }

  ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 11rem;
    padding: 1rem 0 2rem 3.5rem;

    li {
      color: #fffacd;
      font-size: 1.2rem;
      font-weight: 600;
      width: 14rem;
    }
  }
}

#about-me {
  max-width: 40rem;
  text-align: center;
  padding-bottom: 2rem;

  img {
    width: 50%;
    border-radius: 70%;
  }

  h2,
  h3 {
    padding-top: 1rem;
    font-weight: 400;
    font-size: 1.5rem;
  }

  h3 {
    max-width: 30rem;
    margin: 0 auto;
  }

  .icons {
    text-align: center;
    margin-top: 2rem;
  }

  a {
    padding-right: 2rem;
    &:hover {
      color: #ffd700;
      transition: all 0.5s ease-out;
    }
  }
}

/* MEDIA QUERIES */

@media screen and (max-width: 736px) {
  #main {
    padding: 2rem 0 0;
  }
  #info {
    .primary-heading {
      font-size: 4rem;
    }

    ul {
      padding: 1rem 0 2rem;
    }

    .skills-heading {
      padding: 2rem 0 0;
      text-align: center;
    }
  }
}

@media screen and (max-width: 480px) {
  #info {
    .primary-heading {
      font-size: 3rem;
    }

    .secondary-heading {
      font-size: 1.2rem;
    }

    ul {
      width: 100%;
      text-align: center;
      display: inline-block;
      list-style: none;

      li {
        width: 100%;
        padding-bottom: 0.5rem;
      }
    }
  }
}
